.charselect img { cursor: pointer; border-radius: 3px; border: 10px solid red; width: 150px; height: 200px; -webkit-filter: grayscale(100%);
    filter: grayscale(100%); transition: transform 1s;  margin: 5px;  }

.charselect { display: inline-block; }
.charselect img:hover { margin: 5px; z-index: 9; border: 10px solid rgba(226, 106, 106, .8); 
  transition: all .5s; -webkit-filter: none; 
}

.overlay {
   position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  transition: all .5s;
  overflow: hidden;
  height: 0; width: 600px; 
  background: rgb(255, 149, 29);
  text-align: center;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  
}
.img:hover .overlay,
.overlay:hover {
  height: 20%; 
  background: rgba(226, 106, 106, .8);
}
.img > img {
  display: block;/* Prevent inline gap under image*/
}

.imgtxt { margin-top: 25px; }

.lopez {
  margin-bottom: 50px;
  margin-top: 40px;
  background: linear-gradient(#ff0000, #ffff00);
  -webkit-background-clip: text; /* Permet de clipper le dégradé au texte */
  -webkit-text-fill-color: transparent; /* Rend le texte transparent pour afficher le dégradé */
}



body {
  background-image: url('https://cdn.pixabay.com/photo/2024/03/12/21/26/ai-generated-8629592_1280.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  font-family: "Pixelify Sans", sans-serif;
  color: #ffcc00; 
  
}

.stats {
 font-size: small;
 color: #000000;
}