@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap');

.heading{
  text-align: center;
  margin-top: 10%;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 700;
  user-select: none;
  color: #ffffff; 
}

.title{
  text-align: center;
  font-weight: 700;
  font-size: 100px;
  user-select: none;
  color: #ffc32b; 
  -webkit-text-stroke: 2px #000; 
  text-shadow: 10px 6px 0px #000000; 
  font-family: 'Bungee Spice';
  margin-right: 130px;
  margin-top: 180px;
  margin-bottom: none;
  transform: skewY(-15deg); 
}

.subtitle{
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  user-select: none;
  color: #ffffff;  
  font-family: 'poppins';
  margin-right: 130px;
  margin-top: 10px; 
  transform: skewY(-16deg); 
  text-shadow: 2px 2px 2px #000000; 
  margin-top: -70px;
}

.body{
  width: fit-content;
  margin: 2% auto
}

.neoeffect{
  cursor: pointer;
  z-index: 2;
  background-color: #ffc32b;
  width: fit-content;
  border-radius: 12px;
  border: 2px solid #ac2200;
  display: block;
  transition: .3s ease;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom:4px;
  transform: translate(-10px, -12px);
}

.button{
  background-color: #ac2200;
  width: fit-content;
  border-radius: 12px;
  color: #000940; 
  position: absolute;
  bottom: 50px;
  right: 930px;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: "Press Start 2P", system-ui;
}

.neoeffect:hover{
  transform: translate(-10px,-16px)
}

.neoeffect:active{
  transform: translate(0px,0px)
}

.text{
  font-family: "Press Start 2P", system-ui;
  font-weight: 700;
  user-select: none;
  
}




body {
  background-image: url('https://i.ytimg.com/vi/4-eoG6stzOU/maxresdefault.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  font-family: "Pixelify Sans", sans-serif;
  color: #ffffff; 
  
}







